/* MainPage.css */

body {
  background-color: #FAF9F6;
}

/* Style for the container div */
.container {
  display: flex;
  align-items: center;
}

/* Style for the grocery list table container */
.table-container {
  text-align: center;
  width: 25%; /* Adjust width as needed */
  max-height: 400px; /* Maximum height for the table container */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
  margin-left: 20%; /* Set left margin to 25% */
  margin-top: 10%;
}

/* Style for the grocery list table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Style for table header */
th {
  padding: 8px;
}

/* Style for table data cells */
td {
  padding: 8px;
}

/* Style for hover effect on rows */
tbody tr:hover {
  background-color: #dddddd;
}

/* Style for button column */
.button-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

/* Style for rectangular buttons */
.rectangular-button {
  margin-left: 200px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
  width: 500px;
  margin-top: 50px;
}

.rectangular-button:hover {
  background-color: #0056b3;
}